.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto
}

.comment-button {
    margin-bottom: 2rem;
    
}

.comment-label {
   margin-bottom: 0;
}

.comment-input {
    margin-top: 0;
}