.video-page-container {
    display: flex;
    flex-direction: column;

   
    
}

.video-comment-container {
    margin-left: 5rem;
    /* display: flex;
    flex-direction: column; */

    display: grid;
    grid-auto-flow: column;
}